#loginWindow {
  margin: auto;
  width: 15%;
  min-width: 216px;
  overflow: hidden;
  padding: 20px;

  background-color: white;
}

#loginLinks {
  position: absolute;
  top: 0px;
  right: 0px;
}

#password, #repassword, #username, #loginBtn, #email {
  margin: auto;
  display: block;
}

#registerWindow {
  margin: auto;
  width: 35%;
  min-width: 216px;
  padding: 20px;

  background-color: white;
}
