html,body {
  height: calc(100%-20px);
  margin: 0%;
}
body {
  background: Turquoise;
  padding: 10px
}

#opportunities {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  padding: 20px;
  background-color: PaleTurquoise;
}

p {
  display: inline-block;
}

.opp {
  max-height: 40px;
  margin-bottom: 15px;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

@keyframes enlarge {
  0% {max-height: 40px;}
  100% {max-height: 300px;}
}

@keyframes shrink {
  0% {max-height: 500px;}
  100% {max-height: 40px;}
}

.highlight {
  background-color: lightblue;
}
